* {
    margin: 0px;
    padding: 0px;
}

section {
    width: 200px;
    height: 200px;
    background-color: #ededed;
    margin: 50px;
    perspective: 150px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.box1:hover {
    transform: translateX(-50px);
}

.box2:hover {
    transform: translateY(-50px);
}

.box3:hover {
    transform: translateZ(-50px);
}

button {
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0 1px 3px #21212044;
}

button:active {
    transform: translate(1px, 1px);
}