.box1 {
    background-color: gold;
    float: left;
    width: 100px;
    padding: 20px;
    margin-right: 10px;
}

.box2 {
    background-color: mediumaquamarine;
    float: left;
    width: 300px;
    padding: 20px;
}