#wrapper {
    position: relative;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
}

.box1 {
    background-color: aqua;
    z-index: 1;
}

.box2 {
    top: 10px;
    left: 50px;
    background-color: coral;
    z-index: 2;
}

.box3 {
    background-color: blueviolet;
    top: 50px;
    left: 20px;
    /* z-index: 1; */
}