:root {
    --color-main : pink;
}

* {
    margin: 0;
    padding: 0;
}

/* 링크를 적절히 디자인하려면 LVHA 순서를 지켜서 스타일을 지정하자!  */

nav a {
    padding: 8px 16px;
    border: 1px solid blue;
    background-color: var(--color-main);
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: #fff;
}

nav a:hover {
    box-shadow: 1px 1px 6px black;
}

nav a:active {  
    box-shadow: 1px 1px 6px black inset;
}
body {
    display: grid;
    grid-template-rows: 50px 500px 100px;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
    background-color: lightblue;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    line-height: 50px;
    list-style: none;
}

nav ul li {
    text-align: center;
}

main {
    grid-area: main;
    background-color: lightpink;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 80% 1fr;
    grid-template-areas:
        "container aside"
        "summary summary";
}

section {
    grid-area: container;
    background-color: lightgreen;
    text-align: center;
}

input[type='search'] {
    width: 561px;
    height: 44px;
    border: 1px solid #00000025;
    padding: 10px;
    border-radius: 22px;
    margin-top: 50px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.116);
}

input[type='search']:focus{
    outline: none;
}

input[type='search']:disabled{
    background-color: gainsboro;
}

.gender-box {
    margin-top: 50px;
}

.gender-box label{
    padding: 0 10px;
}

.gender-chk {
    accent-color: pink;
}

.gender-chk:checked + span{
    font-weight: bold;
}

.food-list {
    list-style-position: inside;
}

.box>p:nth-of-type(2) {                 /*타입까지 생각 !! 이 코드의 경우 자식 요소 중 p태그인 것들만 생각 즉. 두번째 p태그 요소*/
    background-color: blue;
}

.box>p:nth-child(2) {
    background-color: red;
}

aside {
    grid-area: aside;
    background-color: lightyellow;
}

summary {
    background-color: rgb(255, 27, 145);
    grid-area: summary;
}

footer {
    grid-area: footer;
    background-color: lightcoral;
}