ul {
    list-style: none;
    margin-bottom: 24px;
}

li {
    display: inline-block;
}

li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: gray;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    margin-left: 8px;
}

.song:target {
    background-color: black;
    color: white;
}

#wrapper > h1:only-child ::after {
    /* h1이 오로지 하나의 자식 요소라면 아래와 같이 출력  */
    content: "----> 준비된 음악이 없습니다.";
}

.song:not(#song1) {
    /* #song1만 빼고 폰트 스타일을 기울임체로 바꿔라~  */
    font-style: oblique;
}

#wrapper > *:not(h1) {
    /* wrapper 안에 있는 모든 요소 중 h1만 빼고 폰트 컬러를 red로 바꿔라~  */
    color: red;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

#wrapper {
    display: inline-block;
    border: 1px solid #818181;
    border-radius: 10px;
    text-align: center;
    background-color: azure;
}

p {
    padding:  0 20px;
}

/* p:nth-child(5) {
    font-weight: bold;
} */

/* p:nth-of-type(3) {
    color: pink;
} */

/* p:last-child {
    font-weight: bold;
} */

/* p:last-of-type {
    background-color: palevioletred;
} */

/* ---------------------------------------------------------- */

/* 등차수열 : 연속하는 두 항의 차가 모두 일정한 수열 */
p:nth-of-type(2n-1) {
    color: skyblue;
}