@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');

@font-face {
    font-family: 'MYYeongnamnu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.a {
    font-family : Georgia;
}

.b {
    font-family : serif;
}

.c {
    font-family : sans-serif;
}

.d {
    font-family : monospace;
}

.e {
    font-family : cursive;
}

.f {
    font-family : fantasy;
}

.g {
    font-family : Georgia, "맑은 고딕";
}

.googlefont-link{
    font-family: 'Gowun Batang', serif;
}

.googlefont-import {
    font-family: 'Noto Sans KR', sans-serif;
}

.noonnu {
    font-family: 'MYYeongnamnu', sans-serif;
}