* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 500PX;
    height: 500px;
}

.to-blue {
    width: 100px;
    height: 100px;
    background-color: skyblue;
}

.to-blue:hover {
    background-color: blue;
    border-radius: 100%;
    /* transition-property: background-color;
    transition-duration: 5s;
    transition-delay: 2s;
     transition-timing-function: ease-in;    디테일한 속도 조정 */
    transition: backgroud-color 5s 3s ease;
}

.to-circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 2px solid #000;
}

.to-circle:hover {
    border: 2px solid red;
    border-radius: 100%;
    transition:  1.2s 3s ease-in;
} 