.box1 {
    background-color: gold;
    float: left;
    width: 100px;
    padding: 20px;
    margin-right: 10px;    

    /*static 기준점(기본값)으로 위치 변경 가능*/
    position: relative;         
    
    top: 30px;
    left: 100px;
}

.box2 {
    background-color: mediumaquamarine;
    float: left;
    width: 300px;
    padding: 20px;
    z-index: 1000;
}