.container {
    border: 1px solid #000;
    margin: 30px;
}

.box1 {
    background-color: gold;
    width: 100px;
    padding: 20px;
    margin-right: 10px;    
}

.relative .box1 {
    position: relative;
    top: 30px;
    left: 100px;
}

.box2 {
    background-color: mediumaquamarine;
    /* float: left; */
    width: 300px;
    padding: 20px;
}

.relative .box2 {
    /* float: left; */
}

.absolute .box1 {
    position: absolute;
    top: 30px;
    left: 100px;
}